.speaker{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    border-radius: 15px;
    
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    transition: all 0.4s ease;
}
.speaker:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.speakerImage{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.speakerName{
    margin-top: 10px;
}
.icon{
    margin:0 10px;
}